.list__container {
  list-style-type: none;
  display: flex;
  gap: 46px;
  flex-wrap: wrap;
  justify-content: center;
}

.tile__container {
  height: auto;
  width: auto;
  position: relative;

  button {
    right: 5px;
    bottom: 15px;
    display: none;
  }
}

.image__tile {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile__container:hover .image__tile {
  transform: scale(1.14);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.tile__container:hover {
  button {
    display: block;
  }
}
